<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Server" value="10.93.9.117"/>
    <add key="Password" value="2wsx!QAZ5"/>
  </appSettings>
</configuration>